*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  text-align: center;
  font-weight: 700;
}

th {
  cursor: pointer;
}

textarea {
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}